/* Colors */
/* Fonts */
html {
  padding: 35px 0 35px 0; }

body {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica;
  font-size: 14px;
  color: #666; }

#header {
  font-family: 'Lato';
  padding: 25px;
  background: #e4d4a3;
  margin-bottom: 45px;
  color: #333; }
  #header .inner {
    text-align: left;
    width: 865px;
    margin: auto; }
  #header ul {
    float: right;
    list-style-type: none; }
    #header ul li {
      margin-top: 5px;
      margin-left: 18px;
      font-size: 20px;
      font-weight: 300; }
      #header ul li a {
        color: #333;
        text-decoration: none; }
        #header ul li a:hover {
          text-decoration: underline; }
  #header h1 {
    font-size: 49px;
    font-weight: bold; }
    #header h1 a {
      text-decoration: none;
      color: #333; }
  #header h2 {
    font-size: 23px;
    font-weight: 300; }
    #header h2 img {
      margin-left: 3px; }

#content .inner {
   text-align: left;
   width: 725px;
   margin: auto; }

.post {
  margin-bottom: 55px; }
  .post h3, .post h4, .post h5 {
    font-size: 29px;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 25px;
    color: #333; }
  .post h3 a {
    text-decoration: none;
    color: #333; }
    .post h3 a:hover {
      text-decoration: underline; }
  .post h4 {
    margin-top: 25px;
    font-size: 24px; }
  .post h5 {
    margin-top: 20px;
    font-size: 20px; }
  .post .body {
    font-size: 17px; }
  .post .body p {
    margin-bottom: 1em;
    color: #444; }
  .post ul, .post ol {
    margin-bottom: 1em; }
  .post ul li, .post ol li {
    margin-bottom: 0.5em; }
  .post code {
    color: green; }
  .post .highlight code {
    color: #333; }
  .post .promo {
    background: #E7F5FA;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #bde3f1; }
  .post .social_body {
    float: right;
    margin-left: 15px; }
    .post .social_body .twitter-share-button {
      margin-right: 10px;
      position: relative;
      top: -3px; }
  .post .meta {
    margin-top: 25px;
    border-top: 3px double #ddd;
    padding-top: 25px;
    color: #999; }
    .post .meta .social {
      float: right; }
  .post .highlight {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 13px; }

#footer {
  font-family: 'Lato';
  background: #e4d4a3;
  padding: 25px;
  color: #333; }
  #footer .inner {
    text-align: left;
    width: 725px;
    margin: auto; }
  #footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300; }
    #footer h3 a {
      text-decoration: none;
      color: #333; }
      #footer h3 a:hover {
        text-decoration: underline; }
  #footer table {
    font-weight: 300; }
  #footer table tr td {
    padding-bottom: 3px;
    padding-right: 15px; }
  #footer table tr td a {
    text-decoration: none; }
  #footer table tr td a:hover {
    text-decoration: underline; }
  #footer table tr td.date {
    text-align: right; }
  #footer .archives {
    float: left;
    margin-right: 25px; }
  #footer .about {
    float: left; }
    #footer .about img {
      float: left; }
    #footer .about div {
      padding-left: 94px;
      width: 140px; }

.my_pic {
  float: right;
  margin-left: 20px;
  margin-top: 10px; }

.about_head {
  width: 520px;
  margin-bottom: 45px; }

.projects_container {
  border-top: #ddd double 3px;
  border-bottom: #ddd double 3px;
  padding: 35px 0 0 0; }

table.projects td {
  padding-bottom: 25px;
  margin-bottom: 45px; }
  table.projects td ul {
    list-style-type: disc; }
    table.projects td ul li {
      margin-top: 18px;
      margin-bottom: 0; }
      table.projects td ul li a {
        text-decoration: underline; }
table.projects td.img {
  text-align: center;
  vertical-align: top; }
table.projects td.desc {
  padding-left: 45px; }

.bubble {
  color: #fff;
  font-size: 13px;
  background: #607890;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 15px;
  position: relative; }
  .bubble .tip {
    background: url(/images/triangle.png) no-repeat 0 0;
    width: 10px;
    height: 11px;
    position: absolute;
    top: 19px;
    left: -10px; }
  .bubble a {
    text-decoration: none;
    color: #fff; }
    .bubble a:hover {
      text-decoration: underline; }

#disqus_thread {
  margin-top: 45px; }
  #disqus_thread h3 {
    font-size: 19px; }


.list-category a, .list-tag a {
  border: 0 none;
}
.list-category a:hover span, .list-tag a:hover span {
  background-color: #cacaca;
}
.list-category span, .list-tag span {
  background-color: #666666;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  margin: 0 6px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 10px;
}
.list-category {
  margin-bottom: 0;
  text-transform: capitalize;
}
.list-tag {
  text-transform: capitalize;
}

.list-linear {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style: none;
  padding-left: 0;
}
.list-linear li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
  word-spacing: normal;
  vertical-align: middle;
}
.list-linear li:last-child {
  margin-right: 0;
}
