/* Colors */
/* Fonts */
html {
  padding: 0 0 0 0; }

body {
  text-align: justify;
  font-family: "chaparral-pro-1","chaparral-pro-2", Georgia, serif;
  /* font-family: 'Lato'; */
  font-size: 100%;
  /*color: #333; */ }

#header {
  font-family: 'Lato';
  padding: 25px;
  background: #2B3844;
  margin-bottom: 45px;
  color: #ffffff; }
  #header .inner {
    text-align: left;
    width: 940px;
    margin: auto; }
  #header ul {
    float: right;
    list-style-type: none; }
    #header ul li {
      margin-top: 5px;
      margin-left: 18px;
      font-size: 100%;
      font-weight: 300; }
      #header ul li a {
        color: #ffffff;
        text-decoration: none; }
        #header ul li a:hover {
          text-decoration: underline; }
  #header h1 {
    font-size: 36px;
    font-weight: bold; }
    #header h1 a {
      text-decoration: none;
      color: #ffffff; }
  #header h2 {
    font-size: 30px;
    font-weight: 300; }
    #header h2 img {
      margin-left: 3px; }

#content .inner {
   text-align: left;
   width: 940px;
   margin: auto; 
   background-color: #FFFFFF;
}
#content .inner #inner-left {
   width: 680px;
   display: block;
   position: relative;
   float: left;
}

#content .inner #inner-right {
    width: 220px;
    display: block;
    position: relative;
    float: right;
} 

#content .inner .right-section {
    width: 100%;
    margin-bottom: 20px;
}

td .side-post-list-item {
    font-size: 80%;
}

table#related-posts
{
    border-collapse:separate;
    border-spacing:0 10px;
}

.post {
  margin-bottom: 55px;
  width: 100%; }

  .post h3, .post h4, .post h5 {
    font-size: 22px;
    font-family: 'Lato';
    font-weight: bold;
    margin-bottom: 0px;
    color: #333; }
  .post h3 a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
  }
    .post h3 a:hover {
      text-decoration: underline; }
    .post .byline {
        margin-top: 3px;
        margin-bottom: 25px;
        font-size: 80%;
    }
  .post h4 {
    margin-top: 25px;
    font-size: 20px; }
  .post h5 {
    margin-top: 18px;
    font-size: px; }
/*  .post .body {
    font-size: 17p */
  .post .body p {
    margin-bottom: 1em;
    color: #444;
    text-align: justify; }
  .post ul, .post ol {
    margin-bottom: 1em; }
  .post ul li, .post ol li {
    margin-bottom: 0.5em; }
  .post code {
    color: green; }
  .post .highlight code {
    color: #333; }
  .post .promo {
    background: #E7F5FA;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 1px solid #bde3f1; }
  .post .social_body {
    float: right;
    margin-left: 15px; }
    .post .social_body .twitter-share-button {
      margin-right: 10px;
      position: relative;
      top: -3px; }
  .post .meta {
    margin-top: 25px;
    border-top: 3px double #ddd;
    padding-top: 25px;
    color: #999; }
    .post .meta .social {
      float: right; }
  .post .highlight {
    border: 1px solid #ddd;
    background: #eee;
    font-size: 13px; }

#footer {
  font-family: chaparral-pro-1, chaparral-pro-2, Georgia, serif;
  font-size: 18px;
  background: #2B3844;
  padding: 25px;
  color: #ffffff; }
  #footer .inner {
    text-align: right;
    width: 940px;
    margin: auto; }
  #footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300; }
    #footer h3 a {
      text-decoration: none;
      color: #ffffff; }
      #footer h3 a:hover {
        text-decoration: underline; }
  #footer table {
    font-weight: 300; }
  #footer table tr td {
    padding-bottom: 3px;
    padding-right: 15px; }
  #footer table tr td a {
    text-decoration: none; }
  #footer table tr td a:hover {
    text-decoration: underline; }
  #footer table tr td.date {
    text-align: right; }
  #footer .archives {
    float: left;
    margin-right: 25px; }
  #footer .about {
    float: left; }
    #footer .about img {
      float: left; }
    #footer .about div {
      padding-left: 94px;
      width: 140px; }

.my_pic {
  float: right;
  margin-left: 20px;
  margin-top: 10px; }

.about_head {
  width: 520px;
  margin-bottom: 45px; }

.projects_container {
  border-top: #ddd double 3px;
  border-bottom: #ddd double 3px;
  padding: 35px 0 0 0; }

table.projects td {
  padding-bottom: 25px;
  margin-bottom: 45px; }
  table.projects td ul {
    list-style-type: disc; }
    table.projects td ul li {
      margin-top: 18px;
      margin-bottom: 0; }
      table.projects td ul li a {
        text-decoration: underline; }
table.projects td.img {
  text-align: center;
  vertical-align: top; }
table.projects td.desc {
  padding-left: 45px; }

.bubble {
  color: #fff;
  font-size: 13px;
  background: #607890;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 15px;
  position: relative; }
  .bubble .tip {
    background: url(/images/triangle.png) no-repeat 0 0;
    width: 10px;
    height: 11px;
    position: absolute;
    top: 19px;
    left: -10px; }
  .bubble a {
    text-decoration: none;
    color: #fff; }
    .bubble a:hover {
      text-decoration: underline; }

#disqus_thread {
  margin-top: 45px; }
  #disqus_thread h3 {
    font-size: 19px; }


.list-category a, .list-tag a {
  border: 0 none;
}
.list-category a:hover span, .list-tag a:hover span {
  background-color: #cacaca;
}
.list-category span, .list-tag span {
  background-color: #666666;
  padding: 1px 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  margin: 0 6px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 10px;
}
.list-category {
  margin-bottom: 0;
  text-transform: capitalize;
}
.list-tag {
  text-transform: capitalize;
}

.list-linear {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style: none;
  padding-left: 0;
}
.list-linear li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
  word-spacing: normal;
  vertical-align: middle;
}
.list-linear li:last-child {
  margin-right: 0;
}

.post aside {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    height: 40px;
}

.post .meta a.github {
    background-image: url("/assets/images/buttons.png");
    display: block;
    float: right;
    height: 42px;
    margin-left: 10px;
    text-indent: -999em;
    width: 42px;
    background-position: -323px 0;
    color: #F68B1F;
    text-decoration: underline;
}


