<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]--> 
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]--> 
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]--> 
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]--> 
<head> 
  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

  <title>{{ page.title }}</title> 
  <meta name="author" content="{{ site.author.name }}" />
  <script type="text/javascript" src="http://use.typekit.com/vws2zmm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href='http://fonts.googleapis.com/css?family=Lato:light,regular,bold'
  rel='stylesheet' type='text/css'>
  <link href="{{ ASSET_PATH }}/css/
reset.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link href="{{ ASSET_PATH }}/css/highlight.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="{{ ASSET_PATH }}/css/main.css" media="screen" rel="stylesheet" type="text/css" /> 
  <link rel="alternate" type="application/rss+xml" href="/atom.xml" title="RSS feed">
</head> 
 
    <body> 
        <div id="header">
            <div class="inner">
                <ul>
                    <li><a href="http://twitter.com/{{ site.author.twitter }}">Follow </a></li>
                    <li><a href="{{ BASE_PATH }}/about.html">About </a></li>
                </ul>
                <h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
                <h2>{{ site.author.byline }}</h2>
            </div>
        </div>
                
        <div id="content">
            <div class="inner">
              <div id="inner-left">
                {{ content }}
              </div>
              <div id="inner-right">
                <div class="right-section">
                  <div class="about">
                   <!-- <h3><a href="{{ BASE_PATH }}/about.html">About</a></h3>-->
                    
                    <a href="{{ BASE_PATH }}/about.html"><img src="{{ ASSET_PATH }}/images/me_small.png" alt="ME" /></a>
                    <div>
                        This is yet a short description of the site. Try to keep it short. <a href="{{ BASE_PATH }}/about.html">Read more</a>
                    </div>
                  </div>
                 </div>
                 <div class="right-section">
                   <div class="archives">
                    <h3>Related Posts</h3>
            
                    <table id="related-posts">
                    {% for post in site.posts %}
                        <tr>
                       <!--     <td class="date">{{ post.date | date_to_string }}</td>-->
                            <td><a class="side-post-list-item"  href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>  
               </div>
              </div>
              <div style="clear:both;"></div>
            </div>
        </div>
        
        <div id="footer" class="clearfix">
            <div class="inner">
              © 2009-2012 techtraits.com
            </div>
        </div>
        
    </body> 
</html>
