{% assign author = site.authors[page.author] %}
<div class="post">

    <div class="meta">
			<div class="title-left"><img
				class="avatar"
				href="/{{ author.name }}.html"
				src="http://www.gravatar.com/avatar/{{ author.gravatar }}.png"
				width="40"
				height="40"
			></div>
			<div class="title">
				<h3><a href="{{ post.url }}">{{ page.title }}</a></h3></strong>
				<span class="author">by <a href="/{{ author.name }}.html"><strong>{{ author.display_name }}</a></strong> on </span>
				<span class="date">{{ page.date | date_to_string }}</span>
			</div>	
			<div class="title-right"><a
				class="github"
				href="https://github.com/organizations/techtraits"
				title="Follow Techtraits on GitHub"
			>GitHub</a></div>
			<div style="clear:both;"></div>					
		</div>
    <div class="body">
        <div id="content">
            <div class="inner-content">
              <div id="left-inner">
                {{ content }}
              </div>
               <div style="clear:both;"></div>
            </div>
            <div id="right-inner">
                <div class="right-section">
                  <div class="about">
                   <!-- <h3><a href="{{ BASE_PATH }}/about.html">About</a></h3>-->
                    
                    <a href="{{ BASE_PATH }}/about.html"><img src="{{ ASSET_PATH }}/images/me_small.png" alt="ME" /></a>
                    <div>
                        This is yet a short description of the site. Try to keep it short. <a href="{{ BASE_PATH }}/about.html">Read more</a>
                    </div>
                  </div>
                 </div>
                 <div class="right-section">
                   <div class="archives">
                    <h3>Related Posts</h3>
            
                    <table id="related-posts">
                    {% for post in site.posts %}
                        <tr>
                       <!--     <td class="date">{{ post.date | date_to_string }}</td>-->
                            <td><a class="side-post-list-item"  href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>  
               </div>
              <div style="clear:both;"></div>
            </div>
        </div>
    </div>
 {% include JB/comments %}
</div>
