{% assign author = site.authors[page.author] %}
<div class="post">
    <h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
    <aside class="meta">
			<a
				class="github"
				href="https://github.com/organizations/techtraits"
				title="Follow Techtraits on GitHub"
			>GitHub</a>
			<img
				class="avatar"
				href="/{{ author.name }}.html"
				src="http://www.gravatar.com/avatar/{{ author.gravatar }}.png"
				width="40"
				height="40"
			>
			<span class="author"><strong>{{ author.display_name }}</strong></span>
			<span class="date">{{ page.date | date_to_string }}</span>
		</aside>
    <div class="body">
        <div id="content">
            <div class="inner">
              <div id="inner-left">
                {{ content }}
              </div>
              <div id="inner-right">
                <div class="right-section">
                  <div class="about">
                   <!-- <h3><a href="{{ BASE_PATH }}/about.html">About</a></h3>-->
                    
                    <a href="{{ BASE_PATH }}/about.html"><img src="{{ ASSET_PATH }}/images/me_small.png" alt="ME" /></a>
                    <div>
                        This is yet a short description of the site. Try to keep it short. <a href="{{ BASE_PATH }}/about.html">Read more</a>
                    </div>
                  </div>
                 </div>
                 <div class="right-section">
                   <div class="archives">
                    <h3>Related Posts</h3>
            
                    <table id="related-posts">
                    {% for post in site.posts %}
                        <tr>
                       <!--     <td class="date">{{ post.date | date_to_string }}</td>-->
                            <td><a class="side-post-list-item"  href="{{ post.url }}">{{ post.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>  
               </div>
              </div>
              <div style="clear:both;"></div>
            </div>
        </div>
    </div>

    
    <div class="meta">    
        <ul>
          Published: {{ page.date | date_to_string }}<br/>
        </ul>
	<ul class="list-category list-linear">
	  <li class="list-head">category: </li>
			{% assign categories_list = page.categories %}
			{% include JB/categories_list %}
	</ul>
	<ul class="list-tag list-linear">
		<li class="list-head">tags: </li>
			{% assign tags_list = page.tags %}
			{% include JB/tags_list %}
	</ul>
    </div>
    

    {% include JB/comments %}
</div>
