*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
.sass-cache
_yardoc
doc/
_site/*

# emacs

*~
*#
.#*
*.DS_Store
.pygments-cache/*
