---
layout: page
---

{% for post in paginator.posts %}

<div class="meta">
<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>

<span class="author"> by
	<strong>
		{% for author in post.authors %}
    		<a href="/authors/{{ site.authors[author].name}}.html">
        		{{site.authors[author].display_name }}
	        </a>
			{% if forloop.first and forloop.length > 1%}
			 &
			{% endif %}
    	{% endfor %}
    </strong>
     on {{post.date | date_to_string }}
</span>

<p></p>
<p>
{{ post.content | strip_html | truncatewords: 100 }}
<a href="{{BASE_PATH }}{{ post.url }}">more</a>
</p>
</div>

{% endfor %}

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div> -->







